services:
  watchtower:
    image: containrrr/watchtower
    command:
      - "--label-enable"
      - "--rolling-restart"
      - "--interval"
      - "10"
    env_file:
      - ./.prod.env
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - braxes-network
  reverse-proxy:
    image: traefik:v3.1
    command:
      - "--api.insecure=true"
      - "--providers.docker"
      - "--providers.docker.exposedbydefault=false"
      # - "--entryPoints.websecure.address=:443"
      # - "--certificatesresolvers.myresolver.acme.tlschallenge=true"
      # - "--certificatesresolvers.myresolver.acme.email=khalil@centreize.tech"
      # - "--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json"
      - "--entrypoints.web.address=:80"
      # - "--entrypoints.web.http.redirections.entrypoint.to=websecure"
      # - "--entrypoints.web.http.redirections.entrypoint.scheme=https"
    ports:
      - "80:80"
      - "8080:8080"
      - "443:443"
    volumes:
      - letsencrypt:/letsencrypt
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - braxes-network
    restart: on-failure
  api:
    image: ghcr.io/h-adji/braxes-api:prod
    deploy:
      mode: replicated
      replicas: 4
    restart: on-failure
    labels:
      - "traefik.enable=true"
      # - "traefik.http.routers.api.rule=Host(`centreize.tech`)"
      - "traefik.http.routers.api.rule=Host(`57.128.122.170`)"
      - "traefik.http.routers.api.entrypoints=websecure"
      - "traefik.http.routers.api.tls.certresolver=myresolver"
      - "com.centurylinklabs.watchtower.enable=true"
    ports:
      - 127.0.0.1:3000-3003:3000
    environment:
      SQLITE_DATA: /data
      IS_PROD: 1
    env_file:
      - ./.prod.env
    volumes:
      - db-data:/data
    networks:
      - braxes-network
volumes:
  db-data:
  letsencrypt:
networks:
  braxes-network:
