name: Build/release
on:
  push:
    branches:
      - main
    tags:
      - "v*"
permissions:
  packages: write

jobs:
  build-container:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
